%body
  .row
    .col-md-12.text-center
      %br/
      %h3 Edit you tweet
      %br
        .widget
          = render 'form'
  .row.text-center
    .col-md-12
      = link_to 'Back', articles_path, class: 'btn btn-bg btn-primary'
