= render 'header'
.body
  .row.text-center
    .col-md-12
      %h3
        Edit you Tweet
      %br
        = render 'form'
  .row.text-center
    .col-md-12
      = link_to 'Back', articles_path, class: 'btn btn-bg btn-primary'
