<h1>Hey !</h1>
<h3>An Awesome, Fantastic and an Amazing Blogging Service (Coming Soon)</h3>
<p>Created by - Ram</p>

<br>
<br>
<br>

<h1>Listing all Articles</h1>

<table class='center'>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.article_title %></td>
      <td><%= article.article_text %></td>
    </tr>
  <% end %>
</table>

<br>
<br>
<br>

<div class = 'links'>
  <%= link_to 'Create New Article', new_article_path %>
  <br>
  <%= link_to 'Home', welcome_hey_path %>
</div>
