= render 'header'
%h1 Create a new Tweet
= render 'form'
%br/
%br/
.button
  = button_to "Show all Tweets", articles_path, :method => "get"
  %br/
  %br/
  = button_to "Home", welcome_hey_path, :method => "get"
