<h1>Hey !</h1>
<h3>An Awesome, Fantastic and an Amazing Blogging Service (Coming Soon)</h3>
<p>Created by - Ram</p>

<br>
<br>

<p>
  <strong>Title:</strong>
  <%= @article.article_title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.article_text %>
</p>
