%h1 Hey !
%h3 An Awesome, Fantastic and an Amazing Blogging Service (Coming Soon)
%p Created by - Ram
%br/
.button
  = button_to "New Tweet", new_article_path, :method => "get"
  %br/
  %br/
  = button_to "Show All Tweets", articles_path, :method => "get"
