%br/
%body
  .row
    .col-md-12.text-center
      %h3 Welcome #{current_user.first_name}
      %br/
  .row
    .col-md-12.text-center
      -# = link_to 'New Tweet', new_article_path, class: 'btn btn-bg btn-success'
      = link_to 'Show all Reviews', articles_path, class: 'btn btn-bg btn-primary'
