.page-header
  %h1.text-uppercase.text-center
    Hey !
  %h5.text-center
    An Awesome, Fantastic & an Amazing Micro Blogger (Coming Soon)
  %p.text-center
    Created by - Sreeram

.body.text-center
  .col-md-12
    = link_to 'New Tweet', new_article_path, class: 'btn btn-bg btn-success'
    = link_to 'Show all Tweets', articles_path, class: 'btn btn-bg btn-danger'
