/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";

.login-form {
  width: 400px;
  margin: 0 auto;
  padding: 30px;
  font-family: 'Helvetica Neue';
}

.registration-form {
  width: 50%;
  margin: 0 auto;
  padding: 0px;
  font-family: 'Helvetica Neue';
}

.heading{
  font-weight:bold;
  padding:5px 0px;
  font-size:16px;
}

.alert {
  margin: 60px 0px -70px;
}

.extramargin {
  padding: 30px 0px 0px 0px;
}

.container {
  text-align: left;
  font-size: 15px;
}

.container {
  color: #fff;
}

.container-box {
  width:350px;
  height:390px;
  padding:20px;
  color: #fff;
  background-color: rgba(5,4,2,0.6);
  -webkit-box-shadow:0 0 3px #6b696b;
  -moz-box-shadow:0 0 3px #6b696b;
  box-shadow:0 0 3px #6b696b;
}

.navbar-header {
  height: 100px;
  font-weight: bold;
  font-family: 'Arial';
}

// Hey Actual Colour (#E9573F)
// Facebook Blue (#3B5998)
.navbar {
  background-color: #222;
  border-bottom: white;
}

.navbar-brand {
  color: white;
  font-size: 35px;
  padding: 40px;
}

.navbar-collapse {
  padding: 10px 40px 0 0;
}

ul {
  padding: 20px;
  color: grey;
}

ul:hover {

}

a.navbar-brand:hover {
  color: grey;
}

.nav a {
  color: grey;
}

a:hover {
  color: black;
}

.banner {
  background-color: #00BF88;
  color: #fff;
  padding: 45px 0 55px 35px;
  font-size: 20px;
  font-style: Arial;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
  text-align: center;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

body {
  background-size: cover;
  font-family: 'Helvetica Neue';
  font-size: 13px;
  line-height: 18px;
  background-color: white;
  height: 1000px;
}

h1 {
  color: #365899;
  font-weight: bold;
  font-family: 'Helvetica Neue';
}

h2 {
  color: #365899;
  font-weight: bold;
  font-family: 'Helvetica Neue';
}

h3 {
  color: #365899;
  font-weight: bold;
  font-family: 'Helvetica Neue';
}

h4 {
  color: #365899;
  font-weight: bold;
  font-family: 'Helvetica Neue';
}

h5 {
  color: #365899;
  font-weight: bold;
  font-family: 'Helvetica Neue';
}

h6 {
  color: white;
  font-weight: bold;
  font-family: 'Helvetica Neue';
}

p {
  font-weight: bold;
  color: black;
  font-family: 'Helvetica Neue';
  font-size: 12px;
}

ol, ul, td {
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 13px;
  line-height: 18px;
}

th {
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 13px;
  font-weight: bold;
}

table {
  background-color: rgba(5,4,2,0.1);
  color: black;
}

.widget {
  display: inline-block;
  color: black;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 20px;
  text-align: center;
}
