h1 {
  text-align: center;
  color: #4540F7;
  font-weight: bold;
  font-family: Verdana;
}

h3 {
  text-align: center;
  font-weight: bold;
  font-family: Verdana;
}

p {
  text-align: center;
  font-family: Verdana;
}

body {
  background-image: url(background.jpg);
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.links {
    text-align: center;
}
